body {
    margin: 0;
    overflow: hidden;
    /* background-color: #121212; */
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: white;
}
#stats-chart {
    width: 100%;
    height: 300px;
    max-height: 50vh;
    /* Limit the chart height to 50% of the viewport height */
    margin: 20px 0;
    /* Add some vertical margin */
}
/* Stats Modal Styles */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.close {
    position: absolute;
    /* Ensure the button is positioned relative to the modal */
    top: 10px;
    /* Adjust this value as needed */
    right: 10px;
    /* Adjust this value as needed */
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#game-area {
    position: relative;
    background-color: #121212;
    /* background-image: url('background.png'); */
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.target {
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}
/* Pre-game Modal Styles */
#pre-game-modal{
    text-align: left;
    width: 70%;
}
.modal-content {
    text-align: left;
    width: 70%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#circle-radius {
    width: 100%;
}

#radius-value {
    font-weight: bold;
    margin-left: 10px;
}
#top-bar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    font-size: 24px;
}

#hit-counter {
    margin-right: 20px;
}

#time-counter {
    margin-left: 20px;
}

#result {
    font-size: 24px;
    text-align: center;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#restart-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#restart-btn:hover {
    background-color: #0056b3;
}

/* #seed-input {
    display: block;
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
    width: 200px;
    text-align: center;
} */

#pause-message {
    z-index: 1001;
    display: none;
    font-size: 24px;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.modal-content {
    position: relative;
    /* Allows the close button to be positioned absolutely within */
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    max-width: 70%;
    color: #333;
    border-radius: 10px;
    text-align: center;
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content table {
    font-size: 24px;
    /* Match the font size with the rest */
    margin: 0 auto;
    /* Center the table */
    border-collapse: collapse;
    /* Remove space between table cells */
}

.modal-content th,
.modal-content td {
    padding: 10px 20px;
    /* Add padding for better spacing */
    text-align: center;
    /* Center text within cells */
    border-bottom: 1px solid #ddd;
    /* Add a border for better readability */
}

.modal-content th {
    background-color: #007bff;
    /* Add a background color to header cells */
    color: white;
}

.dock-bottom {
    position: sticky;
    bottom: 0;
    background-color: #fefefe;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ddd;
}

.dock-bottom button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.dock-bottom button:hover {
    background-color: #0056b3;
}